@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    ViewData["ShowNavBar"] = false;
}

<div class="error-img">
    <img src="~/img/404.svg" />

</div>
<div class="error-headline">
    <h2>Looks Like Here <br />Is Nothing</h2>
</div>
<div class="error-headline">
    <p>Don’t be fret. We are here.</p>
</div>