@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@100;400;700&family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Karla", sans-serif;
  color: #002249;
}

.container {
  padding: 0;
}

header {
  position: absolute;
  z-index: 5;
  width: 100%;
}

a {
  color: #6C90B9;
  text-decoration: none;
}
a:hover {
  color: #002249;
}

.btn {
  border-radius: 0;
  padding: 1rem 2.55rem;
}

.btn-main {
  color: #ffffff;
  background-color: #006de8;
  border-color: #006de8;
}
.btn-main:hover {
  color: #ffffff;
  background-color: #002249;
}

.btn-intro-video {
  margin-left: 20px;
  color: #ffffff;
  background-color: #B7C3D6;
  border-color: #B7C3D6;
}
.btn-intro-video .btn-intro-video:hover {
  color: #ffffff;
  background-color: #0052af;
}

.bg-blue-gradient {
  padding-top: 140px;
  background: white;
  background: radial-gradient(circle, white 5%, #a9c7ec 100%);
}

.nav-grid {
  display: flex;
  justify-content: space-between;
}
.nav-grid .nav-left .nav-logo {
  background-color: #ffffff;
  padding: 30px 40px;
}
.nav-grid .nav-left .nav-logo h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.nav-grid .nav-left .nav-logo p {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 0.5;
  color: #6C90B9;
  text-align: center;
}
.nav-grid .nav-right {
  margin-left: 90px;
}
.nav-grid .nav-right .nav-top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: #99C2F6 solid 1px;
  padding: 20px 0px;
}
.nav-grid .nav-right .nav-top-menu .social-media a {
  padding-left: 10px;
}
.nav-grid .nav-right .nav-main-menu {
  justify-content: end;
  display: flex;
  margin-top: 20px;
}
.nav-grid .nav-right .nav-main-menu .menu-item {
  padding-left: 65px;
}
.nav-grid .nav-right .nav-main-menu .nav-menu-items .btn {
  margin-left: 25px;
}

.showcase {
  position: relative;
  z-index: 3;
}
.showcase .showcase-content {
  display: flex;
  margin-left: 75px;
}
.showcase .showcase-content .showcase-left {
  padding-top: 150px;
}
.showcase .showcase-content .showcase-left p {
  font-family: "Karla", sans-serif;
  font-size: 24px;
  color: #69A1BB;
}
.showcase .showcase-content .showcase-left h1 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: #002249;
}
.showcase .showcase-content .showcase-left .items-left {
  display: flex;
}
.showcase .showcase-content .showcase-left .items-left .item {
  font-family: "Karla", sans-serif;
  font-size: 24px;
}
.showcase .showcase-content .showcase-left .items-left .item img {
  margin-left: -20px;
}
.showcase .showcase-content .showcase-left .items-left .item2 {
  font-family: "Karla", sans-serif;
  font-size: 24px;
}
.showcase .showcase-content .showcase-left .items-left .item2 img {
  margin-left: 45px;
}

.about-us {
  margin-top: 40px;
  background-color: #ffffff;
  padding-bottom: 110px;
}
.about-us .about-us-content {
  display: flex;
}
.about-us .about-us-content .about-us-content-left {
  margin-left: 80px;
}
.about-us .about-us-content .about-us-content-right {
  margin-left: 75px;
  margin-top: 150px;
}
.about-us .about-us-content .about-us-content-right .about-us-section-headline {
  display: flex;
}
.about-us .about-us-content .about-us-content-right .about-us-section-headline .about-us-section-headline-text {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #006de8;
}
.about-us .about-us-content .about-us-content-right .about-us-section-headline .about-us-section-headline-line {
  display: block;
  width: 70px;
  height: 2px;
  background: #006de8;
  margin-top: 13px;
  margin-left: 10px;
}
.about-us .about-us-content .about-us-content-right h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #002249;
  margin-top: 20px;
}
.about-us .about-us-content .about-us-content-right p {
  color: #69A1BB;
  line-height: 1.7;
  font-size: 16px;
  margin-top: 40px;
  width: 600px;
}
.about-us .about-us-content .about-us-content-right .about-us-experience {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.about-us .about-us-content .about-us-content-right .about-us-experience .about-us-year-number {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #006de8;
}
.about-us .about-us-content .about-us-content-right .about-us-experience .about-us-year-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #002249;
  margin-left: 25px;
}
.about-us .about-us-content .aboutusleftsq {
  position: absolute;
  margin-left: 680px;
  margin-top: 565px;
  overflow: hidden;
}
.about-us .about-us-content .aboutrightsq {
  position: absolute;
  margin-left: 1250px;
  margin-top: 820px;
  overflow: hidden;
}
.about-us .about-us-content .aboutusright {
  z-index: 2;
  position: absolute;
  margin-left: 1175px;
  margin-top: -300px;
  overflow: hidden;
}

.intro {
  background-color: #00152D;
  padding-bottom: 110px;
}
.intro .intro-content {
  display: flex;
  margin-top: 40px;
}
.intro .intro-content .intro-content-left {
  margin-left: 80px;
  margin-top: 150px;
}
.intro .intro-content .intro-content-left .intro-section-headline {
  display: flex;
}
.intro .intro-content .intro-content-left .intro-section-headline .intro-section-headline-text {
  color: #006de8;
}
.intro .intro-content .intro-content-left .intro-section-headline .intro-section-headline-line {
  display: block;
  width: 70px;
  height: 2px;
  background: #006de8;
  margin-top: 13px;
  margin-left: 55px;
}
.intro .intro-content .intro-content-left h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #ffffff;
}
.intro .intro-content .intro-content-left h4 {
  color: #69A1BB;
  line-height: 1.7;
  font-size: 24px;
  margin-bottom: 40px;
}
.intro .intro-content .intro-content-left p {
  color: #69A1BB;
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 45px;
  width: 550px;
}
.intro .intro-content .intro-right {
  margin-left: 35px;
  margin-top: 150px;
}

.book-meeting {
  background-color: #ffffff;
  padding-top: 150px;
  padding-bottom: 150px;
}
.book-meeting .book-meeting-content {
  background-color: #001222;
  width: 1464px;
  margin-left: 230px;
  padding-bottom: 120px;
}
.book-meeting .book-meeting-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 20px;
}
.book-meeting .book-meeting-content p {
  text-align: center;
  font-family: "Karla", sans-serif;
  color: #C1D0DE;
  line-height: 1.7;
  font-size: 16px;
  padding-bottom: 70px;
}
.book-meeting .book-meeting-content .book-meeting-content-info {
  display: flex;
}
.book-meeting .book-meeting-content .book-meeting-content-info .book-meeting-content-info-name {
  width: 560px;
  margin-left: 150px;
}
.book-meeting .book-meeting-content .book-meeting-content-info .book-meeting-content-info-email {
  width: 560px;
  margin-left: 40px;
}
.book-meeting .book-meeting-content .book-meeting-content-info .form-control {
  border: none;
  padding: 25px 40px;
  color: #C1D0DE;
  background-color: #001222;
  border: #6B93AA 1px solid;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.book-meeting .book-meeting-content .book-meeting-content-info .form-control::placeholder {
  color: #C1D0DE;
}
.book-meeting .book-meeting-content .book-meeting-content-info .form-control:focus {
  color: #C1D0DE;
  box-shadow: 0 0 2px 0.05rem #6B93AA40;
}
.book-meeting .book-meeting-content .book-meeting-content-message {
  margin-top: 30px;
  margin-left: 150px;
  width: 1160px;
}
.book-meeting .book-meeting-content .book-meeting-content-message textarea {
  resize: none;
}
.book-meeting .book-meeting-content .book-meeting-content-message .form-control {
  border: none;
  padding: 25px 40px;
  color: #C1D0DE;
  background-color: #001222;
  border: #6B93AA 1px solid;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.book-meeting .book-meeting-content .book-meeting-content-message .form-control::placeholder {
  color: #C1D0DE;
}
.book-meeting .book-meeting-content .book-meeting-content-message .form-control:focus {
  color: #C1D0DE;
  box-shadow: 0 0 2px 0.05rem #6B93AA40;
}
.book-meeting .book-meeting-content .book-meeting-content-submit {
  margin-left: 610px;
  margin-top: 50px;
}

.footer {
  background-color: #00152E;
  background-image: url("../img/FooterBigCircle.svg");
  background-repeat: no-repeat;
  background-position-x: -375px;
  background-position-y: 270px;
  color: #C2D1E2;
  padding-top: 100px;
}
.footer .footer-content {
  display: flex;
}
.footer .footer-content .footer-content-left {
  width: 350px;
  margin-left: 80px;
}
.footer .footer-content .footer-content-left h4 {
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.footer .footer-content .footer-content-left p {
  color: #C2D1E2;
}
.footer .footer-content .footer-content-right {
  width: 350px;
  margin-left: 450px;
}
.footer .footer-content .footer-content-right h4 {
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.footer .footer-content .footer-content-right ul {
  list-style-type: none;
  padding: 0 0 40px 0px;
  margin: 0;
  font-size: 20px;
  font-family: "Karla", sans-serif;
}
.footer .footer-content .footer-content-right li {
  margin-bottom: 8px;
}
.footer .footer-content .footer-content-right p {
  color: #C2D1E2;
}
.footer .footer-content .footer-content-right p span {
  color: #ffffff;
}
.footer .footer-border-top {
  border-top: 1px solid #707070;
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
}
.footer .footer-border-text {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.footer .footer-big-circle {
  position: absolute;
  overflow: hidden;
  margin-top: -350px;
  margin-left: -370px;
}
.footer .footer-circles {
  position: absolute;
  margin-left: 1550px;
  margin-top: -220px;
}

.page-headline {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  background: white;
  background: radial-gradient(circle, white 5%, #a9c7ec 100%);
}
.page-headline .content-no-headline {
  margin: 15px;
}
.page-headline .content {
  margin: 135px;
  text-align: center;
}
.page-headline .content h1 {
  font-size: 80px;
  color: #002249;
  font-family: "Roboto", sans-serif;
}
.page-headline .content .links {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #69A1BB;
}
.page-headline .content .links a {
  margin: 0 1rem;
}

.get-in-touch {
  background-color: #F7FCFF;
  padding-bottom: 110px;
}
.get-in-touch .get-in-touch-content {
  display: flex;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left {
  margin-left: 80px;
  margin-top: 110px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .get-in-touch-section-headline {
  display: flex;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .get-in-touch-section-headline .get-in-touch-section-headline-text {
  color: #006de8;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .get-in-touch-section-headline .get-in-touch-section-headline-line {
  display: block;
  width: 70px;
  height: 2px;
  background: #006de8;
  margin-top: 13px;
  margin-left: 20px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #002249;
  margin-top: 30px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .form-group {
  margin-bottom: 15px;
  width: 550px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .form-control {
  padding: 25px 40px;
  color: #6B93AA;
  background-color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left textarea {
  resize: none;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .get-in-touch-submit {
  margin-top: 30px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-left .get-in-touch-submit input {
  padding: 25px 60px;
}
.get-in-touch .get-in-touch-content .get-in-touch-content-right {
  margin-left: 100px;
  margin-top: 165px;
}

.services {
  background-color: #ffffff;
  padding-bottom: 110px;
  margin-top: 130px;
}
.services .services-row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.services .services-row .card {
  position: relative;
  width: 370px;
  height: 300px;
  background-color: #C1C1C1;
  margin-left: 15px;
  margin-right: 15px;
}
.services .services-row .card .card-bottom {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  background-color: #002249;
  color: #ffffff;
}
.services .services-row .card .card-square {
  width: 70px;
  height: 70px;
  background-color: #006de8;
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.services .services-row .card .card-bottom-special {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  z-index: 1;
  background: #60abff;
  background: linear-gradient(180deg, #60abff 5%, #0066ff 100%);
  color: #ffffff;
}
.services .services-row .card .card-bottom-special p {
  text-align: left;
  font-size: 14px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  line-height: 2;
}
.services .services-row .card .card-square-special {
  width: 70px;
  height: 70px;
  background-color: #006de8;
  z-index: 2;
  position: absolute;
  bottom: 130px;
  left: 20px;
}

.error-img {
  margin-top: 200px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.error-headline {
  display: flex;
  justify-content: center;
  text-align: center;
}
.error-headline h2 {
  color: #002249;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
}
.error-headline p {
  color: #69A1BB;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  margin-bottom: 200px;
}

.input-box input, .input-box textarea {
  border: none;
}
.input-box small {
  visibility: hidden;
  color: red;
  font-size: small;
  font-weight: 300;
}

.input-box.error input, .input-box.error textarea {
  border: 1px solid red;
}
.input-box.error small {
  visibility: visible;
}

.input-box.success input, .input-box.success textarea {
  border: 1px solid green;
}
.input-box.success small {
  visibility: hidden;
}

.auth-content {
  background-color: #F7FCFF;
  padding-bottom: 110px;
  padding-top: 130px;
}
.auth-content .register-firstname {
  padding-right: 10px;
}
.auth-content .register-lastname {
  padding-left: 10px;
}

.users-content {
  background-color: #ffffff;
  padding-bottom: 110px;
  padding-top: 130px;
}

.roles-content {
  background-color: #ffffff;
  padding-bottom: 110px;
  padding-top: 130px;
}

.register-error {
  margin-top: 5px;
  color: red;
  font-weight: 700;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.role-link {
  margin-left: 160px;
}

.edit-user-content {
  background-color: #F7FCFF;
  padding-bottom: 110px;
  padding-top: 130px;
}
.edit-user-content .edit-user-role {
  padding-right: 10px;
}
.edit-user-content .edit-user-firstname {
  padding-right: 10px;
}
.edit-user-content .edit-user-lastname {
  padding-left: 10px;
}
.edit-user-content .edit-user-postcode {
  padding-right: 10px;
}
.edit-user-content .edit-user-city {
  padding-left: 10px;
}

.edit-profile {
  background-color: #ffffff;
  padding-bottom: 110px;
  padding-top: 130px;
}

.access-denied-img {
  margin-top: 200px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 600;
  color: red;
}
