@{
    ViewData["Title"] = "Access Denied";
    ViewData["ShowNavBar"] = true;
}

<section class="page-headline">
    <div class="content-no-headline"></div>
</section>

<div class="access-denied-img">
    <i class="fa-solid fa-user-lock"></i>
</div>
<div class="error-headline mb-5">
    <h2>Access Denied</h2>
</div>
